{% extends 'base.html' %}

{% block head %}
<title>Climate Match</title>
{% endblock %}

{% block body %}
<div id="navbar" class="space-evenly">
  <span>
  <a href="/">Forum</a>
  <a href="/aboutus">About Us</a>
  <a href="/faq">FAQ</a>
  </span>
  <a href="/mainpage"><img src="../static/logo.png" width=145 height=99></img></a>
  <span id="rightSide">
    <button class="standardbutton" id="login">Login</button>
  </span>
</div>

<div class="content">
  <h1> Common Questions </h1>
  <button class="faq"><a href="/faq2">What is climate change? </a></button>
  <button class="faq"><a href="/faq3">Why should I believe climate change is happening? </a></button>
  <button class="faq"><a href="/faq4">How much time do we have left?</a></button>

  <h1> Ways to Get Involved </h1>
  Can I even help as a kid? <br>
  Of Course!! Click here for resources! <br>

  <h1> Community Guidelines </h1>
  - Keep the topics about climate change science <br>
  - Think-- Is this an appropriate thing to post? <br>
  - Be respectful to other users. You're all here to learn!
</div>
{% endblock %}
