{% extends 'base.html' %}

{% block head %}
<title>Climate Match</title>
{% endblock %}

{% block body %}
<div id="navbar" class="space-evenly">
  <span>
  <a href="/">Forum</a>
  <a href="/aboutus">About Us</a>
  <a href="/faq">FAQ</a>
  </span>
  <a href="/mainpage"><img src="../static/logo.png" width=145 height=99></img></a>
  <span id="rightSide">
    <button class="standardbutton" id="login">Login</button>
  </span>
</div>

<div class="content">
  <button class="faq" href="faq2.html">What is climate change? </button>
  You've probably heard the terms climate change and global warming before. You've probably heard discussions about it on the news or in your family. But, have you ever truly learned exactly what it is in the first place? Here is a quick crash course to give you some background! <br />
-global warming is actually a natural occurring event and is necessary for earth to be habitable (a place where we can live). BUT with so many cars, power plants, deforestation, and other human activities, extra carbon dioxide is in the atmosphere which traps heat, causing our planet to warm up faster than it would naturally. <br />
-climate change is a term that includes global warming as well as the many other events occurring on our planet due to this warming caused by increased human activity. These events include melting glaciers, increased hurricane activity, and so so much more.
</div>
{% endblock %}
