{% extends 'base.html' %}

{% block head %}
<title>Climate Match</title>
{% endblock %}

{% block body %}
<div id="navbar" class="space-evenly">
  <span>
  <a href="/">Forum</a>
  <a href="/aboutus">About Us</a>
  <a href="/faq">FAQ</a>
  </span>
  <a href="/mainpage"><img src="../static/logo.png" width=145 height=99></img></a>
  <span id="rightSide">
    <button class="standardbutton" id="login">Login</button>
  </span>
</div>

<div class="content">
  <button class="faq">Why should I believe climate change is happening? </button>
  Because, it is happening all around you! We know it might be hard to see in the community you live in, but the consequences of climate change are affecting people from around the world.


</div>
{% endblock %}
