{% extends 'base.html' %}

{% block head %}
<title>Climate Match</title>
{% endblock %}

{% block body %}
<div id="navbar" class="space-evenly">
  <span>
  <a href="/">Forum</a>
  <a href="/aboutus">About Us</a>
  <a href="/faq">FAQ</a>
  </span>
  <a href="/mainpage"><img src="../static/logo.png" width=145 height=99></img></a>
  <span id="rightSide">
    <button class="standardbutton" id="login">Login</button>
  </span>
</div>

<div class="content">
  <button class="faq">How much time do we have left?</button>
  <div>
  The ideal time to act is now! If we don't, we'll only have about a decade before it's too late and effects are irreversible. <br/>
  <img src="../static/countdown.jpg" width=488 height=263></img>
  </div>
</div>
{% endblock %}
